p{
    color:red;
}
h1{
    font-size: 70px;
    text-align:center;
    background-color: aqua;
}
img{
    border-radius:40px;
}
figcaption{
    font-size: small;
    color:brown;
}
 h2{
    color:rgb(187, 168, 86);
}
ol li{
    color:green;
}
ul li{
    color:blueviolet;
}